Repository good-night-oppie/oppie-autonav: changes, and which lefthook commands are due for each by the changed paths.
All: go-vet, go-fmt-check, golangci-lint, eslint, prettier, spdx-check

go-vet:
  run: "if [ -n \"{staged_files}\" ]; then\n  echo \"\U0001F50D Checking Go files...\"\n  timeout 30s go vet {staged_files}\nfi\n"
  skip:
  - merge
  - rebase

go-fmt-check:
  run: "if [ -n \"{staged_files}\" ]; then\n  unformatted=$(gofmt -l {staged_files})\n  if [ -n \"$unformatted\" ]; then\n    echo \"❌ Unformatted files detected:\"\n    echo \"$unformatted\"\n    echo \"Run: gofmt -w $unformatted\"\n    exit 1\n  fi\n  echo \"✅ Go formatting check passed\"\nfi\n"

golangci-lint:
  run: "if [ -n \"{staged_files}\" ]; then\n  if command -v golangci-lint > /dev/null 2>&1; then\n    echo \"⚡ Quick lint check...\"\n    # Use fast config for instant feedback (10s timeout for larger changesets)\n    timeout 10s golangci-lint run --config=.golangci-fast.yml --fast --new-from-rev=HEAD
  ...

eslint:
  run: "if [ -n \"{staged_files}\" ]; then\n  if [ -f \"frontend/package.json\" ]; then\n    echo \"\U0001F50D ESLint checking files...\"\n    cd frontend && npx eslint --cache --cache-location .eslintcache {staged_files}\n  else\n    echo \"⚠️  frontend/package.json not found, skipping eslint\"\n  fi
  ...

prettier:
  run: "if [ -n \"{staged_files}\" ]; then\n  if [ -f \"frontend/package.json\" ]; then\n    echo \"\U0001F3A8 Prettier checking files...\"\n    cd frontend && npx prettier --check --cache {staged_files}\n  else\n    echo \"⚠️  frontend/package.json not found, skipping prettier\"\n  fi\nfi\n"
  skip:
  ...

spdx-check:
  run: "if [ -n \"{staged_files}\" ]; then\n  echo \"\U0001F4C4 Checking SPDX headers...\"\n  missing=$(grep -L \"SPDX-License-Identifier\" {staged_files} 2>/dev/null || true)\n  if [ -n \"$missing\" ]; then\n    echo \"❌ Missing SPDX headers in:\"\n    echo \"$missing\"\n    exit 1\n  fi\n  echo \"✅ 
  ...

fix: resolve all test validation failures and integrate Helios CLI
  .oppie-hooks/pr-monitor-daemon.sh
  .oppie-hooks/research-tdd-orchestrator.sh
  pkg/sandbox/helios_bench_test.go
  pkg/sandbox/helios_test.go
  pkg/sandbox/pool.go
  pkg/sandbox/pool_test.go
Due: go-vet, go-fmt-check, golangci-lint, spdx-check

fix: resolve ShellCheck validation errors blocking CI
  .oppie-hooks/pr-monitor-daemon.sh
  .oppie-hooks/research-tdd-orchestrator.sh
  scripts/install-bridge.sh
  scripts/verify-installation.sh
Due: none

feat: Task 11 - Complete Hot-Loop Sandbox with Firecracker Integration
  .taskmaster/tasks/tasks.json
  core/sandbox/README.md
  core/sandbox/benchmark_test.go
  core/sandbox/firecracker.go
  core/sandbox/go.mod
  core/sandbox/manager.go
  core/sandbox/manager_test.go
  core/sandbox/pool.go
  core/sandbox/pool_test.go
  core/sandbox/sandbox_test.go
  core/sandbox/types.go
Due: go-vet, go-fmt-check, golangci-lint, prettier, spdx-check

fix: address Principal Engineer review feedback for Task 11
  core/sandbox/firecracker.go
  core/sandbox/helios_bench_test.go
  core/sandbox/helios_firecracker_integration.go
  core/sandbox/helios_integration.go
  core/sandbox/production.go
Due: go-vet, go-fmt-check, golangci-lint, spdx-check

Github Actions Security
  .github/workflows/d1b679ee-078b-4c91-a187-2c05d17b0cd9.yaml
Due: none

Path conditions:
  go-vet: any of: *.go
  go-fmt-check: any of: *.go
  golangci-lint: any of: *.go
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,css,scss}
  spdx-check: any of: *.{go,js,jsx,ts,tsx}
